# This is a configuration file for Zabbix server daemon
# 
################## Management via ANSIBLE ##################

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
SocketDir=/var/run/zabbix
DebugLevel=3
DBHost={{ mysql_ip }}
DBName={{ zabbix_database }}
DBUser={{ zabbix_db_server_user }}
DBPassword={{ zabbix_db_server_pass }}
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
LogSlowQueries=3000
StatsAllowedIP=127.0.0.1
FpingLocation=/usr/sbin/fping