# This is a configuration file for Zabbix server daemon
# 
################## Management via ANSIBLE ##################

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
SocketDir=/var/run/zabbix
DebugLevel=3
DBHost={{ BD_SERVER_IP }}
DBName={{ ZABBIX_DB }}
DBUser={{ ZABBIX_DB_SERVER_USER }}
DBPassword={{ ZABBIX_DB_SERVER_PASS }}
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=4
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
LogSlowQueries=3000
StatsAllowedIP=127.0.0.1
FpingLocation=/usr/sbin/fping